apiVersion: v1
kind: Secret
metadata:
  name: search-proxy-secrets
  namespace: unique
type: Opaque
stringData:
  GOOGLE_SEARCH_API_KEY: change-me
  BING_AGENT_ENDPOINT: change-me
  BING_AGENT_BING_RESOURCE_CONNECTION_STRING: change-me
  BING_AGENT_BING_AGENT_MODEL: change-me
