# NEVER SYNC THIS FILE. Copy it to an actual file, add secrets and seal it.
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_DB: chat
  POSTGRES_USER: unique
  USERDB_USER: unique
  ADMIN_POSTGRES_PASSWORD: foobar
  USER_POSTGRES_PASSWORD: foobar