# NEVER SYNC THIS FILE. Copy it to an actual file, add secrets and seal it.
apiVersion: v1
kind: Secret
metadata:
  name: minio-password-secret
type: Opaque
stringData:
  rootUser: admin
  rootPassword: foobar