apiVersion: v1
kind: Secret
metadata:
  name: assistants-core-secrets
  namespace: unique
type: Opaque
stringData:
  BING_SEARCH_V7_SUBSCRIPTION_KEY: null
  QUARTR_API_CREDS: null
  SIX_API_CREDS: null
