# NEVER SYNC THIS FILE. Copy it to an actual file, add secrets and seal it.
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-password-secret
type: Opaque
stringData:
  rabbitmq-user: unique
  rabbitmq-password: password-1234567
  rabbitmq-erlang-cookie: 0123456789abcdef0123456789abcdef
  username: unique
  password: password-1234567
  ".erlang.cookie": 0123456789abcdef0123456789abcdef
  default_user.conf: |
    default_user = unique
    default_pass = password-1234567