apiVersion: v1
kind: Secret
metadata:
  name: service-chat
type: Opaque
stringData:
  AMQP_URL: ""
  DATABASE_URL: ""
  CHAT_LXM_ENCRYPTION_KEY: ""
  S3_BUCKET_ACCESS_KEY: ""
  S3_BUCKET_SECRET_ACCESS_KEY: ""
  LITELLM_API_KEY: ""
