apiVersion: v1
kind: Secret
metadata:
  name: service-ingestion
type: Opaque
stringData:
  AMQP_URL: ""
  DATABASE_URL: ""
  S3_BUCKET_ACCESS_KEY: ""
  S3_BUCKET_SECRET_ACCESS_KEY: ""
  INGESTION_ENCRYPTION_KEY: ""
  AZURE_OPENAI_API_KEY: ""
