apiVersion: v1
kind: Secret
metadata:
  name: zitadel-secret-config
type: Opaque
stringData:
  config-yaml: |
    Database:
      Postgres:
        User:
          Password: foobar
        Admin:
          Username: foobar
          Password: foobar
    DefaultInstance:
      SMTPConfiguration:
        SMTP:
          Password: foobar
    SystemAPIUsers:
      - superuser:
          KeyData: "<base64_encoded_public_key>"
          Memberships:
            - MemberType: System
              Roles:
                - "SYSTEM_OWNER"
                - "IAM_OWNER"
                - "ORG_OWNER"