apiVersion: v1
kind: Secret
metadata:
  name: node-ingestion-secrets
  namespace: unique
type: Opaque
stringData:
  INGESTION_ENCRYPTION_KEY: ""
  # Keep this empty! We will use hosted models for embedding. Check README.
  AZURE_OPENAI_API_KEY: ""
