apiVersion: v1
kind: Secret
metadata:
  name: node-ingestion-secrets
  namespace: unique
type: Opaque
stringData:
  S3_BUCKET_ACCESS_KEY: ""
  S3_BUCKET_SECRET_ACCESS_KEY: ""
  INGESTION_ENCRYPTION_KEY: ""
  AZURE_OPENAI_API_KEY: ""
