# NEVER SYNC THIS FILE. Copy it to an actual file, add secrets and seal it.
apiVersion: v1
kind: Secret
metadata:
  name: rustfs-credentials
  namespace: unique
type: Opaque
stringData:
  RUSTFS_ACCESS_KEY: admin
  RUSTFS_SECRET_KEY: foobar
  ACCESS_KEY: admin
  SECRET_KEY: foobar
