# NEVER SYNC THIS FILE. Copy it to an actual file and add the Zitadel admin password.
apiVersion: v1
kind: Secret
metadata:
  name: postgres-superuser
  namespace: unique
type: kubernetes.io/basic-auth
stringData:
  username: postgres
  password: replace-with-zitadel-admin-password
