apiVersion: v1
kind: Secret
metadata:
  name: sharepoint-connector-secret
  namespace: unique
type: Opaque
stringData:
  key.pem: change-me
  SHAREPOINT_AUTH_PRIVATE_KEY_PASSWORD: change-me
  ZITADEL_CLIENT_SECRET: change-me
  PROXY_PASSWORD: change-me
