apiVersion: v1
kind: Secret
metadata:
  name: zitadel-secret-config
type: Opaque
stringData:
  config-yaml: |
    Database:
      Postgres:
        User:
          Password: foobar
        Admin:
          Username: foobar
          Password: foobar
    DefaultInstance:
      SMTPConfiguration:
        SMTP:
          Password: foobar
