apiVersion: v1
kind: Secret
metadata:
  name: node-chat-secrets
  namespace: unique
type: Opaque
stringData:
  AMQP_URL: ""
  DATABASE_URL: ""
  CHAT_LXM_ENCRYPTION_KEY: ""
  S3_BUCKET_ACCESS_KEY: ""
  S3_BUCKET_SECRET_ACCESS_KEY: ""
  LITELLM_MASTER_KEY: ""
