apiVersion: v1
kind: Secret
metadata:
  name: litellm
type: Opaque
stringData:
  DATABASE_URL: "{{ .databaseUrl }}"
  PROXY_MASTER_KEY: "{{ .proxyMasterKey }}"
  LITELLM_SALT_KEY: "{{ .saltKey }}"
  NVIDIA_EMBEDDING_KEY: "{{ .nvidiaEmbeddingKey }}"
  NVIDIA_LLM_KEY: "{{ .nvidiaLlmKey }}"